html,
body,
header,
.view {
  height: 100%;
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin:0;
}

.table{
    position: relative;
    height: 180px;
    width: 400px;
    margin:auto !important;
    margin-top: 270px !important;
    border-radius: 20px !important;
    font-size: large;
    border-color: black;
}

.table-white{
    border-color: white !important;
    color: white;
}

.btn{
    font-size: large;
}

.button-login-add-user{
    position: relative;
    bottom: 41px;
    left: 100px;
}

.button-registration-login{
     position: relative;
     bottom: 67px;
     left: 115px;
}

.font-books{
    font-family:"Monotype Corsiva";
}